@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-menu">
    <a class="link-button" asp-page="./DataManipulation/Create">Add</a>
    <a class="link-button" asp-page="./DataManipulation/Index">View All</a>
    <a class="link-button" asp-page="./DataManipulation/Search">Search</a>
</div>