@page
@model MegaDesk.Pages.DataManipulation.CreateModel

@{
    ViewData["Title"] = "Get Quote";
}

<h2>Get a Desk Quote</h2>

<h4>Please enter all the fields below</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeskQuote.Width" class="control-label"></label>
                <input asp-for="DeskQuote.Width" class="form-control" />
                <span asp-validation-for="DeskQuote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Depth" class="control-label"></label>
                <input asp-for="DeskQuote.Depth" class="form-control" />
                <span asp-validation-for="DeskQuote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Drawers" class="control-label"></label>
                <input asp-for="DeskQuote.Drawers" class="form-control" />
                <span asp-validation-for="DeskQuote.Drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Material" class="control-label"></label>
                <input asp-for="DeskQuote.Material" class="form-control" />
                <span asp-validation-for="DeskQuote.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Rush" class="control-label"></label>
                <input asp-for="DeskQuote.Rush" class="form-control" />
                <span asp-validation-for="DeskQuote.Rush" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Name" class="control-label"></label>
                <input asp-for="DeskQuote.Name" class="form-control" />
                <span asp-validation-for="DeskQuote.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="DeskQuote.Date" placeholder="mm/dd/yyyy" value="@(DateTime.Today.Year.ToString() + "-" + @DateTime.Today.Month.ToString("00") + "-" + @DateTime.Today.Day.ToString("00"))" class="form-control" />
                <span asp-validation-for="DeskQuote.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
