/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}

#mainLink {
  font-weight: bold;
  color: #ffffff;
}

.navbar-inverse {
  background: #b17e4b;
  border-color: #512e09;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.main-menu{
    display: flex;
    flex-direction:column;
    margin-top: 1em;
}

input[type="date"] {
    min-height: 46px;
}

.link-button {
  color: black;
  padding: 75px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #11d211;
  border-radius: 6px;
  margin-top: 1em;
  font-size: 2rem;
  transition: .2s;
}

  .link-button:hover {
    text-decoration: none;
    background: #11d211;
    color: white;
  }

a, a:link, a:visited {
  color: #11d211;
}

  a:hover, a:focus, a:active {
    color: #0ea70e;
  }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.table td, .table th {
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #e5d7c8;
}

input[type=submit] {
  border: 2px solid #11d211;
  color: white;
  background: #11d211;
  transition: .2s;
}

input[type=submit]:hover {
  border: 2px solid #11d211;
  color: #11d211;
  background: white;
}